#game {
	background-color: #000;
	height: 100vh;
	width: 100%;
}

#game-scene-wrapper {
	background-image: url('img/grass.png');
	left: 50%;
	position: absolute;
	transform-origin: 0 0;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.wrapper {
	position: relative;
}

.scene {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}
