$joystickBlue: #184883;
$dimension: 90px;

#joystick {
	background-color: $joystickBlue;
	border-radius: 50%;
	height: $dimension;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: 40px;
	opacity: 0.5;
	position: relative;
	width: $dimension;
	z-index: 3;
}

.joystick__stick {
	background-color: darken($joystickBlue, 15%);
	border-radius: 50%;
	height: ($dimension / 2);
	left: ($dimension / 4);
	position: absolute;
	top: ($dimension / 4);
	width: ($dimension / 2);
}
