@font-face {
  font-family: 'Antenna';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Antenna-Regular.woff') format('woff'),
       local('Antenna-Regular');
}
@font-face {
  font-family: 'Antenna';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/Antenna-Bold.woff') format('woff'),
       local('Antenna');
}
@font-face {
  font-family: 'Molot';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Molot.woff') format('woff'),
       local('Molot');
}
