#choose-character {
	text-align: center;
	footer {
		clear: both;
	}
	.btn {
		display: inline-block;
		width: auto;
	}
	.tagline {
		margin-bottom: 0;
	}
}

.characters {
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	> div {
		width: 100%;
	}
}

.character {
	@include grid(4);
	padding-bottom: 20px;
	position: relative;
	text-align: center;
	img {
		cursor: pointer;
		transition: transform 0.35s;
		transform: scale(0.95);
		&:hover {
			transform: scale(1);
		}
		@include s {
			height: auto;
			max-height: 100px;
			width: auto;
		};
	}
	h3 {
		position: absolute;
		width: 100%;
	}
}
