#interface {
	background-image: url('img/interface-bg.jpg');
	background-size: cover;
	color: #fff;
	padding: 3rem;
	overflow-y: auto;
	position: absolute;
	text-align: center;
	transition: 0.35s opacity ease-in-out;
	z-index: 5;

	&:not(.game) {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 100vh;
		left: 0;
		max-height: none;
		max-width: none;
		padding: 1rem;
		top: 0;
		width: 100vw;
		div:last-child {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.btn {
		margin: 10px;
		min-width: 150px;
		@include s {
			padding: 0.5rem;
		};
	}

	.title {
		color: #fff;
		display: block;
		width: 100%;
		@include s {
			font-size: 2.5rem;
		};
	}

	h1 {
		max-width: 650px;
	}

	h2 {
		width: 100%;
	}

	&.loading {
		opacity: 0;
	}
	&.game {
		background-image: none;
		color: #fff;
		left: 0;
		max-width: 100%;
		padding: 1rem;
		top: 0;
		text-align: left;
		width: 100%;
		> * {
			z-index: 2;
		}
		.overlay {
			background-color: transparent;
		}
		.btn {
			opacity: 0.4;
			text-align: center;
			&:hover {
				opacity: 1;
			}
		}
	}
	> div {
		> * {
			position: relative;
		}
	}

	form {
		position: relative;
		input {
			@include cleanInput;
			background-color: transparent;
			border: 2px solid #fff;
			margin: 5px;
			padding: 5px;
			&[type=submit] {
				cursor: pointer;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.overlay {
		background-color: fade-out(#000, 0.2);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	@include l {
		width: 550px;
		.title {
			font-size: 3rem;
		}
		.btn {
			font-size: 1.3rem;
		}
	};
}

.game-interface {
	position: relative;
	z-index: 2;
}

.main-menu__btns {
	width: 100%;
}
