.quest {
  max-height: 100vh;
  overflow-y: auto;
  .quest-interface {
    align-self: flex-start;
    padding-bottom: 100px;
  }
  .overlay {
    position: fixed !important;
  }
}

.quest__body {

    max-width: 500px;
}

.quest__title {
  font-family: Molot;
  font-size: 1.5rem;
  &.tagline {
    margin-bottom: 1rem;
  }
}

.quest__objectives {
  border: 4px solid #fff;
  margin-bottom: 10px;
  padding: 0.7rem;
  ul {
    text-align: left;
  }

}

.title--objectives {
  font-size: 1.3rem;
  letter-spacing: 0.8px;
}

.quest__description {
  text-align: left;
  div {
    justify-content: flex-start;
  }
  p {
    margin-bottom: 10px;
  }
}

.quest__reward {
  width: 100%;
}