
#pre-game-scene-wrapper {
	bottom: 0;
	background-color: #58A8F8;
	height: 640px;
	position: absolute;
	transform-origin: 100% 100%;
	right: 0;
	width: 720px;
}

#kame-house, #pre-game-scene {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	@include s {
		display: none;
	};
}
